* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body {
    width: 100vw;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */



.navbar {
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    z-index: 9999;
}

.logo span {
    color: red;
}

.logo a {
    text-decoration: none;
    color: black;
}

.links {
    display: flex;
    column-gap: 20px;
}

.links a {
    text-decoration: none;
    color: #4e4e59;
}

#Dropdown {
    border: none;
}

.buttonnav button,
.section-one-left-btn .btn1 {
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    background-color: #ce1212;
    color: white;
    cursor: pointer;
}

.buttonnav button:hover,
.section-one-left-btn .btn1:hover {
    background-color: #ce1212b9;
}

.section-one-left-btn .btn2 {
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    background-color: transparent;
    margin-left: 25px;
    font-size: 16px;
    font-weight: 500;
    color: black;
    cursor: pointer;
}

.section-one-left-btn .btn2:hover {
    color: #ce1212;
}

.section-one-left-btn .btn2 i {
    color: #ce1212;
}

.section-one-left h1 {
    font-family: "Amatic SC", sans-serif;
    width: 200px;
    font-size: 30px;
    font-weight: 30px;
    font-style: normal;
}

.section-one-left p {
    width: 300px;
}


/* home section  */

.section-one {
    height: 85vh;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-evenly;
}

.section-one-right {
    /* width: 50%; */
    height: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-one-right img {
    max-width: 70%;
    height: 70%;
    background-size: contain;

    animation: name-of-animation 4s ease-in-out infinite;

}


@keyframes name-of-animation {
    0% {
        transform: rotate(0px);
    }

    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0px);
    }
}


.section-one-right {
    width: 50%;
    height: 100%;
}

.section-one-left {
    flex-direction: column;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    row-gap: 20px;
}


/* about section */


.section-tue,
.section-Four,
.change-menu {
    padding: 30px 30px;
}



.top-section-tue,
.top-section-four,
.inside-chane-menu {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
}

.top-section-tue h3,
.top-section-four h3,
.inside-chane-menu h3 {
    font-family: "Amatic SC", sans-serif;
    font-size: 30px;
}

.top-section-tue h3 span,
.top-section-four h3 span,
.inside-chane-menu h3 {
    color: #d61212;
}


.buttom-section-tue {
    display: flex;
    justify-content: space-around;
    column-gap: 50px;
    padding-inline: 100px;
}

.left-section-tue {
    flex-direction: column;
    display: flex;
    row-gap: 24px;
}

.left-section-tue .box-img {
    width: 641px;
    height: 480.75px;
}

.left-section-tue .box-img img {
    width: 100%;
    height: 100%;
    background-size: contain;
}


.left-section-tue .number {
    width: 641px;
    height: 122.8px;
    border: 2px solid #636669;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 24px;
}

.colorofp {
    color: #ce1212;
    font-size: 30px;
}

.right-section-tue {
    flex-direction: column;
    display: flex;
    row-gap: 20px;
}

.info-right-section-tue-all {
    flex-direction: column;
    display: flex;
    gap: 20px;
}

.info-right-section-tue {
    display: flex;
    column-gap: 15px;

}

.info-right-section-tue i {
    color: #ce1212;
}

.img-and-video {
    width: 403px;
    height: 302.25px;
    position: relative;
}

.img-and-video img {
    width: 100%;
    height: 100%;
    background-size: contain;
}

.img-and-video button {
    position: absolute;
    left: 45%;
    top: 45%;
    padding: 20px 20px;
    border-radius: 50%;
    border: none;
    background-color: #ce1212;
    color: white;
}


/* about  section */


.top-three-section {
    padding: 35px 30px;
    display: flex;
    justify-content: space-evenly;
    column-gap: 10px;
    background-color: #f1f1f1;
}

.top-three-section .first-top-three-section {
    width: 380px;
    height: 435.59;
    background-color: #ce1212;
    padding: 20px 20px;
    color: white;
    flex-direction: column;
    display: flex;
    row-gap: 20px;
}

.first-top-three-section .btn3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-top-three-section .btn3 button {
    padding: 10px 20px;
    border: none;
    background-color: #d53535;
    color: white;
    border-radius: 20px;
}

.first-top-three-section .btn3 button:hover {
    background-color: white;
    color: #d53535;
}

.title-first-top-three-section {
    font-size: 20px;
}

.para-first-top-three-section {
    font-size: 20px;
}

.top-three-section .second-top-three-section {
    width: 253.39px;
    height: 435.59px;
    background-color: white;
}

.second-top-three-section {
    padding: 25px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.second-top-three-section .box {
    flex-direction: column;
    display: flex;
    /* justify-content: center; */
    /* align-self: center; */
    text-align: center;
    row-gap: 30px;
}

.box div {
    padding: 20px;
    margin-inline: 80px;
    border-radius: 50%;
    background-color: #fcf3f3;
}

.second-top-three-section .box div i {
    color: #ce1212;
}

.second-top-three-section:hover .hover {
    background-color: #ce1212;


}

.second-top-three-section:hover .hover i {
    background-color: #ce1212;
    color: white;

}


.box h4 {
    font-size: 25px;
    display: flex;

    align-items: center;

}


.buttom-three-section {
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.486), rgba(0, 0, 0, 0.568)), url(../img/stats-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.contain-number {
    color: #ffffff;
    flex-direction: column;
    display: flex;
    row-gap: 20px;
}



.contain-number span {
    font-size: 40px;
}


.section-Four {
    flex-direction: column;
    display: flex;
    row-gap: 30px;
}


.menu {
    display: flex;
    justify-content: center;
    column-gap: 50px;

}

.menu button {
    border: none;
    border-bottom: 3px solid gray;
    cursor: pointer;
    background-color: transparent;
    padding: 10px 10px;

}

.menu .ban {
    border-bottom: 3px solid red;
}

.menu button:hover {
    border-bottom: 3px solid red;
}


.tbislat {
    width: 1140px;
    height: 827.29px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    margin-inline: 50px;
    column-gap: 1px;
    row-gap: 1px;

}




.tbislat-box .img {
    height: 236px;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.tbislat-box .img img {
    width: 166px;
    height: 166px;
}

.tbislat-box {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}

.tbislat-box .flos {
    color: #d61212;
    font-size: 30px;
}



/* slide carousel */

.carousel-second {
    flex-direction: column;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* width: 50%; */
    height: 50vh;
    background-color: #f2f2f2;
    /* border-radius: 50px; */
    border: none;
}

.carousel2 {
    display: flex;
    justify-content: space-between;
}

.btn {
    height: 60px;
    background-color: transparent;
    border: none;
    z-index: 50;
    cursor: pointer;
    color: #f2f2f2;
}

.btn span {
    font-size: larger;
}

.img-carousel {
    width: 100%;
    height: 50%;
    /* border-radius: 50px; */
    border: none;
    background-color: #f2f2f2;
    z-index: 1;
    position: absolute;
}

.item {
    background-color: #f2f2f2;
    margin-inline: 300px;
    height: 100%;
    display: none;
    transition: all 0.5s ease-in-out;

}

.ban {
    display: block;
}

.item img {
    width: 100%;
    height: 100%;
    background-size: contain;
}

.n9at {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    column-gap: 10px;
    z-index: 100;
    /* background-color: brown; */
    position: relative;
    bottom: -100px;



}

.n9at button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: gray;


}


@keyframes slide {
    0% {
        transform: translateX(0%);
    }

    20% {
        transform: translateX(0%);
    }

    25% {
        transform: translateX(-100%);
    }

    45% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-200%);
    }

    70% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-300%);
    }

    95% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(0%);
    }
}


.content {
    flex-direction: column;
    display: flex;
    row-gap: 30px;
}

.cards-testimonials {
    display: flex;
    justify-content: center;
    column-gap: 50px;
}


.cards-testimonials .line-red {
    width: 5px;
    height: 225px;
    background-color: #ce1212;

}



.top-content p {
    width: 500px;
}

.top-content p span {
    font-size: 25px;
    color: #e08282;
}

.buttom-content {
    flex-direction: column;
    display: flex;
    row-gap: 10px;
    font-family: "Amatic SC", sans-serif;
}

.buttom-content span {
    color: yellow;
}

.pecture {
    width: 160px;
    height: 160px;
}

.pecture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-size: contain;
}

.top-section-five,
.top-section-seven {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
    padding-top: 50px;
}

.top-section-five h3,
.top-section-seven h3 {
    font-family: "Amatic SC", sans-serif;
    font-size: 30px;
}

.top-section-five h3 span,
.top-section-seven h3 span {
    color: #d61212;
}

.section-five,
.section-seven {
    flex-direction: column;
    display: flex;

    row-gap: 50px;
    background-color: #f2f2f2;
}

/* carousel end */

/* 356 356  chef section */

.buttom-section-seven {
    /* width: 358px; */
    height: 456px;
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    column-gap: 30px;
    margin-inline: 150px;
}

.buttom-section-seven .cards {
    background-color: white;
    flex-direction: column;
    display: flex;
    row-gap: 20px;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.social {
    position: absolute;
    bottom: 350px;
    right: -240px;
    width: 100%;
    height: 60px;
    background-color: rgb(0, 0, 0, 0, 6);
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    transition: all 0.4s ease;
}

.social a{
    text-decoration: none;
}

.cards:hover .social {
    /* bottom: 0; */
    right: -140px;
}

.cards:hover {
    transform: scale(1.10);
}

.buttom-section-seven .cards p {
    width: 250px;
    color: gray;
}

.buttom-section-seven .cards span {

    color: gray;
}

.cards .img-cards {
    width: 100%;
    height: 256px;
    background-color: blue;
    position: relative;
}

.img-cards .chef {
    width: 100%;
    height: 100%;
    background-size: contain;
}

.cards .img-cards .position {
    position: absolute;
    top: 193px;
    z-index: 999;
    left: 0;
    color: white;
    fill: white;
    stroke: black;
    stroke-width: 2;
}