* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body {
    width: 100vw;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */



.navbar {
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    z-index: 9999;
}

.logo span {
    color: red;
}

.logo a {
    text-decoration: none;
    color: black;
}

.links {
    display: flex;
    column-gap: 20px;
}

.links a {
    text-decoration: none;
    color: #4e4e59;
}

#Dropdown {
    border: none;
}

.buttonnav button,
.section-one-left-btn .btn1 {
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    background-color: #ce1212;
    color: white;
    cursor: pointer;
}

.buttonnav button:hover,
.section-one-left-btn .btn1:hover {
    background-color: #ce1212b9;
}

.section-one-left-btn .btn2 {
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    background-color: transparent;
    margin-left: 25px;
    font-size: 16px;
    font-weight: 500;
    color: black;
    cursor: pointer;
}

.section-one-left-btn .btn2:hover {
    color: #ce1212;
}

.section-one-left-btn .btn2 i {
    color: #ce1212;
}

.section-one-left h1 {
    font-family: "Amatic SC", sans-serif;
    width: 200px;
    font-size: 30px;
    font-weight: 30px;
    font-style: normal;
}

.section-one-left p {
    width: 300px;
}


/* home section  */

.section-one {
    height: 85vh;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-evenly;
}

.section-one-right {
    /* width: 50%; */
    height: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-one-right img {
    max-width: 70%;
    height: 70%;
    background-size: contain;

    animation: name-of-animation 4s ease-in-out infinite;

}


@keyframes name-of-animation {
    0% {
        transform: rotate(0px);
    }

    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0px);
    }
}


.section-one-right {
    width: 50%;
    height: 100%;
}

.section-one-left {
    flex-direction: column;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    row-gap: 20px;
}


/* about section */


.section-tue {
    padding: 30px 30px;
}



.top-section-tue {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
}

.top-section-tue h3 {
    font-family: "Amatic SC", sans-serif;
    font-size: 30px;
}

.top-section-tue h3 span {
    color: #d61212;
}


.buttom-section-tue {
    display: flex;
    justify-content: space-around;
    column-gap: 50px;
    padding-inline: 100px;
}

.left-section-tue {
    flex-direction: column;
    display: flex;
    row-gap: 24px;
}

.left-section-tue .box-img {
    width: 641px;
    height: 480.75px;
}

.left-section-tue .box-img img {
    width: 100%;
    height: 100%;
    background-size: contain;
}


.left-section-tue .number {
    width: 641px;
    height: 122.8px;
    border: 2px solid #636669;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 24px;
}

.colorofp {
    color: #ce1212;
    font-size: 30px;
}

.right-section-tue {
    flex-direction: column;
    display: flex;
    row-gap: 20px;
}

.info-right-section-tue-all {
    flex-direction: column;
    display: flex;
    gap: 20px;
}

.info-right-section-tue {
    display: flex;
    column-gap: 15px;

}

.info-right-section-tue i {
    color: #ce1212;
}

.img-and-video {
    width: 403px;
    height: 302.25px;
    position: relative;
}

.img-and-video img {
    width: 100%;
    height: 100%;
    background-size: contain;
}

.img-and-video button {
    position: absolute;
    left: 45%;
    top: 45%;
    padding: 20px 20px;
    border-radius: 50%;
    border: none;
    background-color: #ce1212;
    color: white;
}


/* Menu section */


.top-three-section {
    padding: 35px 30px;
    display: flex;
    justify-content: space-evenly;
    column-gap: 10px;
    background-color: #f1f1f1;
}

.top-three-section .first-top-three-section {
    width: 380px;
    height: 435.59;
    background-color: #ce1212;
    padding: 20px 20px;
    color: white;
    flex-direction: column;
    display: flex;
    row-gap: 20px;
}

.first-top-three-section .btn3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-top-three-section .btn3 button {
    padding: 10px 20px;
    border: none;
    background-color: #d53535;
    color: white;
    border-radius: 20px;
}

.first-top-three-section .btn3 button:hover {
    background-color: white;
    color: #d53535;
}

.title-first-top-three-section {
    font-size: 20px;
}

.para-first-top-three-section {
    font-size: 20px;
}

.top-three-section .second-top-three-section {
    width: 253.39px;
    height: 435.59px;
    background-color: white;
}

.second-top-three-section {
    padding: 25px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.second-top-three-section .box {
    flex-direction: column;
    display: flex;
    /* justify-content: center; */
    /* align-self: center; */
    text-align: center;
    row-gap: 30px;
}

.box div {
    padding: 20px;
    margin-inline: 80px;
    border-radius: 50%;
    background-color: #fcf3f3;
}

.second-top-three-section .box div i {
    color: #ce1212;
}

.second-top-three-section:hover .hover {
    background-color: #ce1212;


}

.second-top-three-section:hover .hover i {
    background-color: #ce1212;
    color: white;

}


.box h4 {
    font-size: 25px;
    display: flex;

    align-items: center;

}


.buttom-three-section {
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.486), rgba(0, 0, 0, 0.568)) ,url(../img/stats-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.contain-number{
    color: #ffffff;
    flex-direction: column;
    display: flex;
    row-gap: 20px;
}



.contain-number span{
    font-size: 40px;
}